*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  @include styleText($color-black-0, $fs-0, $fw-normal);
}
//res
